@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

*{
  margin:0;
  padding:0;
  border:0;
  box-sizing:border-box;
  font-family: 'Montserrat', sans-serif;
  list-style: none;
  text-decoration: none;
  color:inherit;
  font-weight: 400;
  font-size:inherit;
}
html{
  font-size:10px;
  color:#fff;
  text-align: center;
}
.wrapper{
}
.header{ /* height : 120px */
  background-color: #E87A7A;
  font-size: 1.4rem;
  padding:17px 0;
}
.heading-title{
  font-size:5rem;
  font-weight: 700;
  line-height: 1;
}
.contents{
  position: relative;
  padding:30px 0;
  height: calc(100vh - 120px);
  background-color: #131313;
}
.score{
  font-size:1.4rem;
}
.rgb-wrap{
  position: absolute;
  top:50%;
  left:50%;
  margin-left:-152px;
  margin-top:-83px;
  
}
.rgb-code{
  margin:0 0 30px 0;
  font-size: 2.8rem;
  letter-spacing: 2px;
}
.rgb-option{
  display:inline-block;
  margin: 20px 10px 0 10px;
  width: 80px;
  height:80px;
  border-radius: 50%;
  background-color: gold; /* 후에 style 제어 */
}
.right{
  display:none;
  position: absolute;
  top:0;
  left:0;
  height:100vh;
  width:100%;
  background-color: gold; /* 후에 style 제어 */

}
.right p{
  font-size:5rem;
  font-weight: 700;
}
.next-color{
  border:2px solid #fff;
  border-radius: 3px;
  background-color:transparent;
  padding:10px;
  font-size:1.6rem;
}
.right.on{
  display: block;
}